@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  font-family: Arial, sans-serif;
  backdrop-filter: blur(2px);
}
